/* LAYOUT */

.top-header{
    width: 100%;
    background-color: black;
    height: 30px;
}

.bottom-header{
    width: 100%;
    background-color: rgb(182, 182, 7);
    height: 50px;
}

.column{
    height: 25px;
    background-color: darkgoldenrod;
}

.first-jumbotron{
    height: 500px;
    width: 100%;
    background-color: rgb(240, 207, 99);
}

.rtn{
    background-color: rgb(134, 111, 6);
    height: 500px;
}

/* UTILITIES */

.bottom-header .row{
    height: 50px;
}

