/* LAYOUT DA

.bottom-header{
    width: 100%;
    background-color: rgb(182, 182, 7);
    height: 50px;
}

.column{
    height: 25px;
    background-color: darkgoldenrod;
    border: solid 1px black;
}



.first-jumbotron{
    height: 400px;
    width: 100%;
    background-color: rgb(240, 207, 99);
}



.rtn{
    background-color: rgb(134, 111, 6);
    height: 400px;
}


.link-games{
    background-color: orange;
    width: 100%;

}

.gms{
    background-color: red;
    min-height: 75px;
    border: solid 1px black;
}



.here-ps5{
    height: 200px;
    width: 100%;
    background-color: darkred;
}

.presentation{
    height: 150px;
    width: 60%;
    background-color: #fff;
}


.ps5{
    height: 500px;
    background-color: pink;
    width: 100%;
}

.cnsl{
    background-color: fuchsia;
    min-height: 200px;
    border: solid 1px black;
}



.products{
    height: 200px;
    width: 100%;
    background-color: violet;
}

.prd{
    background-color: purple;
    min-height: 100px;
    border: solid 1px black;
}



.second-jumbotron{
    height: 400px;
    width: 100%;
    background-color: darkblue;
}

.itt{
    background-color: rgb(80, 80, 245);
    height: 80%;
}


.n-out{
    height: 70px;
    background-color: white;
    border: solid 1px black;
}



.explore-ps4{
    height: 600px;
    width: 100%;
    background-color: dodgerblue;
}

.ps4{
    height: 100px;
    background-color: rgb(82, 196, 235);
    border: solid 1px black;
}


.play-plus{
    height: 300px;
    background-color: rgb(0, 255, 136);
    border: solid 1px black;
}



.sales{
    height: 500px;
    background-color: green;
    width: 100%;
}

.head-sales, .items-sales{
    background-color: rgb(1, 49, 1);
    border: solid 1px black;
}

.head-sales{
    height: 50px;
}

.items-sales{
    height: 100px;
}


.p-now{
    height: 300px;
    background-color: lightblue;
    border: solid 1px black;
}



.socials{
    height: 300px;
    width: 100%;
    background-color: rgb(54, 18, 6);
}

.follow-us, .s-media{
    background-color: rgb(117, 84, 84);
    border: solid 1px black;
}

.follow-us{
    height: 50px;
}

.s-media{
    height: 100px;
}

*/

footer{
    height: 600px;
    width: 100%;
    background-color: #00439c;
}

.ftr{
    height: 150px;
    background-color: darkblue;
    border: solid 1px black;
}

.top-header,
.products,
.sales,
.socials,
footer{
    color: white;
}

/* ROW'S HEIGHTS */

.bottom-header .row{
    height: 100%;
}

.here-ps5 .row{
    height: 100%;
}

.ps5 .row{
    height: 100%;
}

.products .row{
    height: 100%;
}

.second-jumbotron .row{
    height: 100%;
}

.p-plus .row{
    height: 100%;
}

.sales .row{
    height: 100%;
}

.ps-now .row{
    height: 100%;
}

footer .row{
    height: 100%;
}

/* QUERIES */

@media screen and (max-width: 991px){
    .bottom-header .row{
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px){
    .products .row{
        justify-content: space-between;
    }
}

/* ULTILITIES */

.descriptions{
    color: grey;
    font-size: 20px; 
}

main{
    padding-top: 80px;
}

/* IMG RESIZE */

.rtnl{
    width: 50%;
}

.link-games img{
    width: 100%;
    border-radius: 10px;
}

.ps5 img{
    width: 100%;
}

.products img{
    width: 100%;
}

.second-jumbotron img{
    width: 250px;
}


.new-out img{
    width: 100%;
    border-radius: 10px;
}

.ps4 img{
    width: 100%;
}

.p-pl{
    width: 60%;
}

.img-pl{
    width: 100%;
}

.items-sales img{
    width: 100%;
}

.p-now img{
    width: 60%;
}

.monthly{
    width: 100%;
}

/* HEADER */

.top-header{
    width: 100%;
    background-color: black;
    height: 30px;
}

.fa-bars{
    font-size: 20px;
    padding: 5px 15px;
    border: solid 1px rgb(204, 203, 203);
}

.bottom-header li{
    display: inline;
    font-size: 20px;
}

.bottom-header ul{
    display: inline;
}

.btn{
    border: none;
    background: none;
    font-weight: bold;
}

.hdr-btn{
    color: white;
    background-color: #363636;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
}

.bottom-header{
    background-color: #fff;
}

/* FIRST JUMBOTRON */

.first-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: white;
    padding-top: 300px;
    padding-bottom: 50px;
}

.fj-btn{
    background-color: #cd3d0f;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

/* PS5 */

.links{
    color: dodgerblue;
    font-size: 13px;
    font-weight: bold;
}

.here-ps5 h1{
    font-size: 40px;
}

.m-info{
    background-color: dodgerblue;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

/* SECONDO JUMBOTRON */

.second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    color: white;
}

.second-jumbotron h1{
    font-size: 40px;
}

/* NEW OUT */

.new-out{
    width: 100%;
    background-color: #1f1f1f;
    color: white;
}

.desc{
    font-size: 28px;
}

.new-out h2{
    font-size: 40px;
}

.fa-trademark{
    font-size: 10px;
    padding-right: 5px;
    vertical-align: text-top;
}

.n-out p{
    font-size: 18px;
}

/* EXPLORE PLAYSTATION 4 */

.fa-registered{
    font-size: 20px;
    vertical-align: text-top;
}

.m-ps4{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    background-color: dodgerblue;
    border-radius: 20px;
}

/* PLAYSTATION PLUS */

.p-plus{
    width: 100%;
    background-color: #bebcbb;
}

.expl-plp{
    color: dodgerblue;
    padding: 10px 15px;
    text-decoration: none;
    background-color: lightgrey;
    border-radius: 20px;
}

/* PLAYSTATION STORE SALES */

.sales h1{
    color: black;
    font-size: 40px;
}

/* PLAYSTATION NOW */

.ps-now{
    width: 100%;
    background-color: #161c3b;
}

.p-now p{
    color: white;
    font-size: 19px;
}

.pnow{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 20px;
}

/* SOCIALS */

.socials h1{
    color: black;
}

.socials img{
    width: 100%;
}








