/* LAYOUT */

.top-header{
    width: 100%;
    background-color: black;
    height: 30px;
}

.bottom-header{
    width: 100%;
    background-color: rgb(182, 182, 7);
    height: 50px;
}

.column{
    height: 25px;
    background-color: darkgoldenrod;
}

.first-jumbotron{
    height: 400px;
    width: 100%;
    background-color: rgb(240, 207, 99);
}

.rtn{
    background-color: rgb(134, 111, 6);
    height: 400px;
}

.link-games{
    background-color: orange;
    width: 100%;

}

.gms{
    background-color: red;
    min-height: 75px;
    border: solid 1px black;
}

.here-ps5{
    height: 200px;
    width: 100%;
    background-color: darkred;
}

.presentation{
    height: 150px;
    width: 60%;
    background-color: #fff;
}

.ps5{
    height: 500px;
    background-color: pink;
    width: 100%;
}

.cnsl{
    background-color: fuchsia;
    min-height: 200px;
    border: solid 1px black;
}

.products{
    height: 200px;
    width: 100%;
    background-color: violet;
}

.prd{
    background-color: purple;
    min-height: 150px;
    border: solid 1px black;
}

/* ROW'S HEIGHTS */

.bottom-header .row{
    height: 100%;
}

.here-ps5 .row{
    height: 100%;
}

.ps5 .row{
    height: 100%;
}

.products .row{
    height: 100%;
}

